/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
	
	& p{
		padding-right: 12px;
	}
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 17px;
	height: 100%;
	// background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	margin: auto;
	width: 5px;
	background: #eff1f4;
	position: relative;
}

.jspDrag{
	display: block;
	position: absolute;
	left: 0;
	width: 5px;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;

	 .jspDragBottom{
		cursor: pointer;
		background: #fff;
		border: 2px solid #4182D0;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		width: 17px;
		height: 17px !important;
		bottom: 0px;
		margin: 0 0 0 -6px;
		position: absolute;
	 }
}

	.jspDrag:after{
		content: "";
		width: 5px;
		left: 0px;
		height: 400px !important;
		background: #4182d0;
		position: absolute;
		bottom: 15px;
		display: block;
	}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

[data-bg="gray"] .jspTrack{
	background-color: #FFF;
}