@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/scrollpane.css";
@import "../css/jquery.fancybox.css";
@import "../css/owl.carousel.css";
@import "../css/jquery.arcticmodal.css";
@import "../css/jquery-ui.css";
@import "../css/formstyler.css";
@import "../css/responsive-tabs.css";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,cyrillic-ext);
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);*/
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'robotoregular', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color:#232440;
  min-width:1080px;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr.hr{
  border: none;
  height: 1px;
  background: #d6dae4;
  width: 100%;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}
button{
  font-family: 'robotoregular', Helvetica, sans-serif;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}


/*======================>  GOOGLE FONTS START  <======================*/
        
  .fw_thn{font-weight: 100;}
  .fw_lt{font-weight: 300;}
  .fw_reg{font-weight: 400;}
  .fw_med{font-weight: 500;}
  .fw_ultra_bd{font-weight: 900;}
  .bold{font-weight: 700;}

    .roboto{
        font-family: 'Roboto';
    }
    .roboto_slab{
        font-family: 'Roboto Slab', serif;
    }

    .roboto_light{
        font-family: 'robotolight';
    }
    .roboto_bold{
        font-family: 'robotobold';
    }
    .roboto_medium{
      font-family: 'robotomedium';
    }

  /*--  Fonts END  --*/


/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}
.ls1{letter-spacing: 1px;}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after, 
.container:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*=====================> Titles ========================*/
    h2,h3,h4{
      font-weight:normal;
    }
    [class^="title"]{
      font-family: 'Roboto Slab', serif;
    }
    .title_prime{
      font-size: 60px;
      line-height: 1.2;
    }
    .title_prime2{
      font-size: 52px;
      line-height: 1.2;
    }
    .title{
      font-size: 46px;
      line-height: 58px;
    }
    .title1{
      font-size: 36px;
      line-height: 48px;
      color: #232440;
    }

    .title2{
      font-size: 24px;
      line-height: 34px;
    }
    .title3{
      font-size: 16px;
      line-height: 1.2;
      text-transform: uppercase;
    }
    .title4{
      font-size: 14px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: 300;
    }

    .title4_1{
      font-size: 14px;
      line-height: 1.45;
      font-weight: 300;
      font-family: 'robotomedium';
    }

    .title5{
      font-size: 12px;
      font-family: 'robotolight';
      color: #5e5e73;
    }
    .title6{
      font-size: 14px;
      font-family: 'robotobold';
      color: #232440;
    }

    .title7{
      font-size: 16px;
      font-family: 'Roboto Slab', serif;
    }


    .fz12{font-size: 12px;}
    .fz13{font-size: 13px;}
    .fz14{font-size: 14px;}
    .fz16{font-size: 16px;}
    .fz18{font-size: 18px;}
    .fz36{font-size: 36px; line-height: 1.2;}
    .fz46{font-size: 46px; line-height: 1.2;}

    .lh1{line-height: 1 !important;}

    /*----------------------> Basic Colors <------------------*/

    [data-color="white"]{
        color: #FFF;
    }
    [data-color="orange"]{
        color: #FB6B00;
    }
    [data-color="blue"]{
        color: #0095ff;
    }
    [data-color="grey"]{
        color: #363638;
    }
    [data-color="grey2"]{
        color: #676775;
    }
    [data-color="grey3"]{
        color: #6E6F81;    
    }
    [data-color="grey4"]{
      color: #797C7F;
    }
    [data-color="grey_light"]{
        color: #19192d;
    }
    [data-color="grey_light2"]{
      color: #B3B3BA;
    }
    [data-color="black"]{
        color: #232440;
    }


    [data-btn-skin="orange"]{
        background-color: #fb6b00;
        border: 1px solid #fb6b00;
    }
    [data-btn-skin="orange"]:hover{
        color: #fb6b00;
        background: #fff;
    }
    [data-btn-skin="blue"]{
        background-color: #1e8feb;
        border: 1px solid #1e8feb;
    }
    [data-btn-skin="blue"]:hover{
        color: #1e8feb;
        background: #fff;
    }

/*---------Global overlay----------*/

    .nav_overlay{
      opacity: 0;
      visibility: hidden;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 222;
      background-color: #000;
    }

/*----------------------> DATA BG <------------------*/
    [data-bg="presentation_bg"]{
        background: url(../images/magazine.png) 42px 10px no-repeat;
        padding-bottom: 220px;
    }

    [data-bg="video_bg"]{
        background: url(../images/video_bg.png) 0 0 no-repeat;
        padding-bottom: 220px;
    }

    [data-bg="sertificate_bg"]{
        background: url(../images/sertificate_bg.png) 0 90% no-repeat;
    }

    [data-bg="mounting_bg"]{
        background: url(../images/wall.png) 50% 50% no-repeat;
    }

    [data-bg="video_carousel_bg1"]{
        background: #FFF url(../images/slider_bg.png) 50% 90% no-repeat;
        padding-bottom: 50px;
    }

    [data-bg="video_carousel_bg2"]{
        background: #FFF url(../images/slider_bg2.png) 50% 90% no-repeat;
        padding-bottom: 180px;
    }
    [data-bg="blue_bg"]{
        background: url(../images/blue_bg.png) 0% 0% no-repeat;
    }
    [data-bg="orange_bg"]{
        background: url(../images/orange_bg.png) 0% 0% no-repeat;
    }
    [data-bg="bg_header"]{
        background: url(../images/header_img_bg.png) 50% 0 no-repeat;
    }
    [data-bg="bg_header2"]{
        background: url(../images/header_img_bg1.png) 50% 0 no-repeat;
    }


  [data-bg="bg_heating_house"]{
      background: url(../images/heating_house.jpg) 50% 130px no-repeat;
  }

  [data-bg="bg_header_horeca"]{
    background: url(../images/horeca_bg_img.png) 50% 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  [data-bg="bg_certificates"]{
    background: #FFF url(../images/certificates_bg.png) 50% 0% no-repeat;
  }

  [data-bg="bg_partners"]{
    background: #FFF url(../images/partners_bg.png) 50% 60px no-repeat;
  }

  .blue_style [data-bg="bg_partners"]{
    background: #FFF url(../images/partners_bg.png) 50% 0px no-repeat;
  }

  [data-bg="work_bg"]{
    background: #FFF url(../images/work_bg_img.png) 50% 0% no-repeat;
  }

  [data-bg="objects_jobs_bg"]{
    background: #FFF url(../images/objects_jobs_bg.png) 50% 0% no-repeat;
  }

  [data-bg="blue_img"]{
    background: #FFF url(../images/blue_img_bg.png) 50% 0% no-repeat;
  }
  

  input{
    color: #9a9da6;
  }

/*======================> Breadcrumbs <======================*/

  .breadcrumbs{
    margin: 0 -9px;
  }

    .breadcrumbs_item{
      float: left;
      color: #484c50;
      font-size: 14px;
      margin-right: 4px;
      position: relative;
      padding-left: 9px;
    }

      .breadcrumbs_item:before{
        content: "/";
        position: absolute;
        left: 0;
      }
      .breadcrumbs_item:first-child:before{
        display: none;
      }

      .breadcrumbs_link{
        color: #23c3df;
        text-decoration: underline;
      }

      .breadcrumbs_link:hover{
        text-decoration: none;
      }


/*-----  START  blue style  -----*/
    /*   HEADER   */
      .blue_style .text_link,
      .blue_style .download_link,
      .blue_style .header_content_form2 .title2,
      .blue_style .range_slider_wrapper #amount1, 
      .blue_style .range_slider_wrapper #amount2, 
      .blue_style .range_slider_wrapper #amount3{
        color: #1E8FEB;
      }
      .blue_style .download_link{
        background: url(../images/icon/xlx_icon2.png) 0% 39% no-repeat;
      }
      .blue_style .logo a{
        background: url(../images/logo2.png) 0% 0% no-repeat;
      }
      .blue_style .header_contact_link{
        color: #1E8FEB;
        border: 1px solid #1E8FEB;
      }
        .blue_style .header_contact_link:hover{
          background-color: #1E8FEB;
        }

      .blue_style .computation_list li{
        background: url(../images/icon/plus_icon2.png) 0% 10px no-repeat;
      }
      .blue_style .form_popup_btn,
      .blue_style .header_content_btn,
      .blue_style .header_content_phone + .header_content_btn{
        border: 1px solid #1E8FEB !important;
        background-color: #1E8FEB !important;
      }
        .blue_style .form_popup_btn:hover,
        .blue_style .header_content_btn:hover{
          color: #1E8FEB !important;
          background-color: #fff !important;
        }

      .blue_style .footer_contact_info{
        background: url(../images/footer_item_bg2.png) 0 0 no-repeat;
      }
    /*   CONTENT   */
      .blue_style .big_numb{
        background: url(../images/min_blue_bg.png) 50% 0% no-repeat;
      }
      .blue_style .partners_list{width: 879px; margin: 0 auto 45px;}
        .blue_style .partners_list_item{
          margin: 25px 64px;
        }

      .blue_style .planchette_block{
        background: url(../images/planchette_bg2.png) 50% 50% no-repeat;
      }

      .blue_style .pound:after{
        background: url(../images/icon/pound_icon2.png) 0% 0% no-repeat;
      }

      .blue_style .owl-item.synced .slider_item_figure{
        opacity: 1;
        background: url(../images/slider_blue_bg.png) 35px 0% no-repeat;
      }
        .blue_style .slider_box .owl-item.synced .slider_item_figure .img_box{
          border: 3px solid #1E8FEB;
        }

        .blue_style .header_heat_form .title2{
          color: #1E8FEB !important;
        }
      .blue_style .accordion_item{
        border-color: #abe8f3;
      }
        .blue_style .accordion_item_link:after,
        .blue_style .range_slider_wrapper .slider-range .ui-slider-handle,
        .blue_style .jq-radio.checked .jq-radio__div,
        .blue_style .jq-selectbox li.selected{
          background-color: #1E8FEB;
        }
        .blue_style .jq-checkbox.checked{
          background-color: #1E8FEB;
          border-color: #1E8FEB;
        }
        .blue_style .calculate_form .jq-checkbox.checked + .culc_item_label{
          color: #1e8feb;
        }

        .blue_style .jq-selectbox li.selected{color: #FFF;}
        .blue_style .jq-selectbox__dropdown{margin: 0; -webkit-border-radius: 0;
                border-radius: 0;}

        .blue_btn{
          width: 185px;
          padding: 9px;
          color: #fff;
          display: block;
          margin-top: 5px;
          font-size: 18px;
          font-weight: 300;
          text-align: center;
          text-decoration: none;
          border: 1px solid #1E8FEB;
          background-color: #1E8FEB;
          text-transform: capitalize;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
          font-family: 'robotolight';
        }
        .blue_btn:hover{
          color: #1E8FEB;
          background-color: #fff;
        }

    .blue_style .header_top{
      padding: 82px 0 0;
    }
    .blue_style .header_content .title2{
      background: none;
    }

  /*-----  END  blue style  -----*/



/*======================> Header <======================*/
  header {
  }
    .header_top{
      padding: 82px 0 11px;
      /*position: relative;*/
    }
    .header_top .container{
      position: relative;
    }
    
    .absolute_box{
      top: 0px;
      width: 1140px;
      margin-left: 15px;
      padding: 4px 0 0px;
      z-index: 100;
      position: fixed;
      background-color: #fff;
      box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
    }
      .text_link{
        color: #fb6b00;
        font-size: 24px;
        font-weight: 300;
        text-decoration: underline;
        padding-left: 263px;
      }  
      .download_link{
        float: right;
        color: #fb6b00;
        font-size: 12px;
        line-height: 2;
        margin-right: 18px;
        text-decoration: underline;
        padding: 11px 5px 7px 30px;
        background: url(../images/icon/xlx_icon.png) 0% 39% no-repeat;
      }  

    .logo{}
      .logo a{
        display:block;
        width:185px;
        height:40px;
        background:url(../images/logo.png) 0 0 no-repeat;
        text-decoration:none;
        text-indent:-9999px;
      }

    .logo_text{
      width: 290px;
      font-size: 12px;
      color: #4b4b5a;
      line-height: 16px;
      margin: 2px 0 0 14px;
    } 

    .header_top_list{
      float: right;
      margin: 0 -10px;
    } 

      .header_top_list_item{
        float: left;
        margin: 7px 10px;
      }

      .header_top_list_link{
        font-size: 14px;
        color: #424353;
      }
        .header_top_list_link:hover{
          color: #01bada;
        }
    
    .header_bottom_wrapp{
      position: relative;
      z-index: 9991;
      background: #fff;
      box-shadow: 1px 1px 3px #cccdce, -1px -1px 3px #cccdce;
      height: 48px;
    }

    /*header .title + .title2{
      background-color: rgba(255, 255, 255, 0.7);
      margin: 0 150px;
      box-shadow: -7px 1px 13px rgba(255, 255, 255, 0.9), 7px -1px 10px rgba(255, 255, 255, 0.9);
      border-radius: 10px;
    }*/

      
            .price{
              font-family: 'Roboto Slab', serif;
              font-size: 16px;
              font-weight: bold;
            }

        .search_box{
          width: 501px;
          border-right: 1px solid #dfdfdf;
        }

        .search{
          width: 469px;
          height: 48px;
          font-size: 18px;
          font-weight: 300;
          border: none;
          padding: 0 15px 0 29px;
        }

        .search_btn{
          background: url(../images/search_icon.png) 0 50% no-repeat;
          width: 24px;
          height: 48px;
          border: none;
          outline: none;
          padding: 0; 
          cursor: pointer;
        }
      
      .header_contact{
        padding: 13px 0; 
      }
        .header_contact_phone{
          font-size: 30px;
          margin: 2px 11px 10px;
          font-family: 'robotolight';
           
        }

        .header_contact_phone span{
          font-family: 'robotobold';
        }

        .header_contact_link{
          font-family: 'robotolight';
          color: #fb6b00;
          line-height: 1;
          font-size: 18px;
          font-weight: 300;
          padding: 11px 20px;
          margin-bottom: 10px;
          border: 1px solid #fb6b00;
          text-decoration: none;
        } 
        .header_contact_link:hover{
          color: #fff;
          background-color: #fb6b00;
        }
        .header_contact_link + span{
          font-size: 12px;
          color: #363638;
        }

    .header_content{
      
    }
    .header_content_form{
      width: 587px;
      font-size: 14px;
      margin: 0 auto;
      box-shadow: 1px 1px 80px #a5a5a7;
    }

      .header_content_form.b_sh{
        box-shadow: none;
      } 

      /*.header_content_form.b_sh .header_content_btn{
        box-shadow: 1px 1px 80px #a5a5a7;
      }*/

      .header_content .title{
        color: #FFF;
        padding: 26px 40px;
        margin: 0 -10px 5px;
      }  
      .header_content .title2{
        background: url(../images/white_light_bg.png) 50% 50% no-repeat;
        padding: 18px 5px;
        margin-top: -18px;
      }

        .header_content_form input:last-child{
          border-right: none;
        }
        .header_content_name{
          background: #fff url(../images/human_icon.png) 8px 50% no-repeat;
        }
        .header_content_phone{
          background: #fff url(../images/phone_icon.png) 6px 50% no-repeat;
        }
        .header_content_mail{
          background: #fff url(../images/email_icon.png) 12px 50% no-repeat;
        }


        .header_content_name,
        .header_content_phone,
        .header_content_mail{
          height: 44px;
          width: 100%;
          line-height: 40;
          margin-left: -1px;
          padding: 0 10px 0 38px;
          border: 1px solid #E0E0E0;
        }
        .header_content_form .header_content_name,
        .header_content_form .header_content_phone,
        .header_content_form .header_content_mail{
          width: 34.49%;
        }
        .header_content_form .header_content_btn{
          width: 184px;
        }

        .header_content_btn{
            color: #fff;
            font-size: 18px;
            font-weight: 300;
            z-index: 999;
            width: 360px;
            margin: auto;
            outline: none;
            padding: 9px;
            display: block;
            cursor: pointer;
            font-family: 'robotolight';
            -webkit-transition: all 0.7s ease;
            -moz-transition: all 0.7s ease;
            -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
            
            box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
        }
            .header_content_btn:hover{
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all 0.1s ease;
            }

         .header_center_btn{
            width: 360px;
            height: 44px;
            line-height: 44;
            padding: 0 5px;
            text-align: center;
            
          }
        
    .header_content_form2{
      width: 750px;
      margin: 0 auto;
      padding: 28px 66px 11px;
      box-shadow: 0 0 66px rgba(0, 0, 0, 0.66);
      background: url(../images/bg_pattern.png) 0% 0% no-repeat;
      -webkit-border-radius: 4px;
              border-radius: 4px;
    }
    .header_content_form3{
      width: 360px;
      margin: 0 auto;
      box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
    }
      .header_content_form3 input{
        width: 180px;
      }
      .header_content_form3 input:last-child{
        border-right: none;
      }

    .computation_block{}
      .computation_block div:first-child{
        width: 63%;
        margin-right: 5px;
      }
      .computation_block div:last-child{
        width: 36%;
      }
        .computation_block div:last-child input,
        .popup_figure form input{
          width: 100%;
          border-right: none;
          margin-bottom: 12px;
          box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
        }
        .computation_block .title3{
          margin-top: -10px;
          letter-spacing: 1.8px;
        }

        .computation_list li{
          font-family: 'robotolight';
          font-size: 14px;
          line-height: 2.15;
          padding-left: 15px;
          font-weight: 300;
          background: url(../images/icon/plus_icon.png) 0% 10px no-repeat;
        }

/*=====================> Header heat end ========================*/



/*=====================> Content ========================*/ 
    #content {padding: 180px 0px 0px 0px;}
    
    .container[data-bg="bg_heating_house"]{
        min-height: 620px;
    }
    

        .btn_orange{
          cursor: pointer;
          color: #FFF;
          width: 280px;
          outline: none;
          margin: 24px auto 5px;
          display: block;
          font-size: 18px;
          padding: 10px 15px;
          background-color: #FB6B00;
          border: 1px solid #fb6b00;
          font-family: 'robotolight';
          -webkit-border-radius: 2px;
                  border-radius: 2px;
          -webkit-transition: all 0.7s ease;
          -moz-transition: all 0.7s ease;
          -o-transition: all 0.7s ease;
          transition: all 0.7s ease;        
        }

        .btn_orange:hover{
          background: #fff;
          color: #FB6B00;
          -webkit-transition: all 0.1s ease;
          -moz-transition: all 0.1s ease;
          -o-transition: all 0.1s ease;
          transition: all 0.1s ease;
        }

        .blue_btn {
            width: 185px;
            padding: 9px;
            color: #fff;
            display: block;
            margin-top: 5px;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            text-decoration: none;
            border: 1px solid #1E8FEB;
            background-color: #1E8FEB;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
            font-family: 'robotolight';
            margin-left: auto;
            text-transform: capitalize;
            margin-right: auto;
        }
        .blue_btn:hover {
            color: #1E8FEB;
            background-color: #fff;
        }


/*========================> Reasons <===================*/
    .reasons_wrap{
        margin: 0 -15px;
    }
        .reason_box{
            float: left;
            width: 360px;
            margin: 15px;
            cursor: pointer;
            position: relative;
        }
            .reason_box__title{
                font-size: 16px;
                letter-spacing: 1.7px;
                text-transform: uppercase;
                font-family: 'Roboto Slab', serif;
            }
            .reason_box__lower{
                text-align: center;
                min-height: 225px;
                padding: 35px 22px 7px;
                background-color: #F5F3F2;
            }
            .reason_box__lower__bg{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                /*display: inline-block;
                text-align: center;*/
            }
            .reason_box__lower__content > p{
                line-height: 1.6;
            }

            .reason_box__upper{
                text-align: center;
                min-height: 225px;
                padding: 35px 22px 10px;
                -webkit-box-shadow: 0 0 15px rgba(51, 27, 7, 0.3);
                        box-shadow: 0 0 15px rgba(51, 27, 7, 0.3);
            }
                .reason_box__upper__img{
                    margin-bottom: 20px;
                    width: 100%;
                    text-align: center;
                    height: 100px;
                }
    
/*========================> Reasons END <===================*/



/*========================> Video carousel <===================*/
    
    .video_carousel{
        padding: 60px 30px 25px;
        background-color: #F1F1F1;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }
        .video_carousel_item{
            margin: 0 30px;
        }
            .video_carousel_box{
                margin-bottom: 20px;
            }


            /*------  OWL  -----*/
                .owl-controls{
                    position: absolute;
                    left: -15px;
                    right: -15px;
                    top: 50%;
                    margin-top: -30px;
                }
                    .owl-prev{
                        float: left;
                        background-image: url(../images/arrow_prev.png);
                    }
                    .owl-next{
                        float: right;
                        background-image: url(../images/arrow_next.png);
                    }

                    .owl-prev,
                    .owl-next{
                        width: 30px;
                        height: 60px;
                        color: transparent;
                        background-color: #828291;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        border: 1px solid #d3d3d3;
                    }
            /*------  OWL END  -----*/
            
            /*------  YouTube  -----*/
                .video_carousel_box .html5-video-player .ytp-chrome-top{
                    display: none !important;
                }
            /*------  YouTube END  -----*/
    
/*========================> Video carousel END <===================*/



/*=====================> Content 6 steps ========================*/
  [data-bg="5steps_bg1"]{
    background: #FFF url(../images/6_steps2.png) 50% 0% no-repeat;
  }
  [data-bg="5steps_bg2"]{
    background: #FFF url(../images/6_steps1.png) 50% 0% no-repeat;
  }

  .how_working{
      padding: 36px 86px 0;
      margin: 0 -31px 90px;
    }
      .how_working .title3{
        font-size: 16px;
        line-height: 21px;
      }

      [class^="how_working_item"]{
        background: url(../images/how_working_bg.png) 0 0 no-repeat;
        padding: 0 15px 0 15px; 
        width: 281px;
        height: 120px;
        display: table;
        vertical-align: middle;
        margin: 0 31px;
        text-align: center;
        position: relative;
        margin-bottom: 65px;
      }    
      .how_working_item_none{
        background: none !important;
      }  
        .how_working_number{
          display: table-cell;
          vertical-align: middle;
          width: 35px;
        }
        .title1.how_working_number{
          color: #fff;
        }
        .how_working_text{
          color: #fff;
          display: table-cell;
          vertical-align: middle;
          letter-spacing: 1.3px;
        }

        .how_working_item1:before{
          content: "";
          position: absolute;
          background: url(../images/how_working_item1_img.png) 0 0 no-repeat;
          width: 84px;
          height: 14px;
          bottom: 9px;
          left: -84px;
        }
        .how_working_item1:after,
        .how_working_item2:after,
        .how_working_item5:after{
          content: "";
          position: absolute;
          background: url(../images/how_working_item1_img2.png) 0 0 no-repeat;
          width: 63px;
          height: 14px;
          bottom: 9px;
          right: -62px;
        }
        .how_working_item3:after{
          content: "";
          position: absolute;
          background: url(../images/how_working_item1_img3.png) 0 0 no-repeat;
          width: 80px;
          height: 180px;
          top: calc(100% - 23px);
          right: -79px;
        }

        .how_working_item5:before{
          content: "";
          position: absolute;
          background: url(../images/how_working_item1_img4.png) 0 0 no-repeat;
          width: 15px;
          height: 14px;
          bottom: 9px;
          left: -15px;
        }

        [class^="how_working_item_2"]{
      background: url(../images/how_working_bg2.png) 0 0 no-repeat;
      position: relative;
    }
    [class^="how_working_item_2"] .title1.how_working_number,
    [class^="how_working_item_2"] .title3.how_working_text{
      color: #1e8feb;
    }

      /*.how_working_item_2_1:before{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img.png) 0 0 no-repeat;
        width: 97px;
        height: 54px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -97px;
      }
      .how_working_item_2_1:after,
      .how_working_item_2_2:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img2.png) 0 0 no-repeat;
        width: 71px;
        height: 54px;
        right: -67px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .how_working_item_2_3:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img3.png) 0 0 no-repeat;
        width: 98px;
        height: 216px;
        right: -94px;
        top: 50%;
        -webkit-transform: translateY(-12%);
        -ms-transform: translateY(-12%);
        -o-transform: translateY(-12%);
        transform: translateY(-12%);
      }
      .how_working_item_2_5:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img4.png) 0 0 no-repeat;
        width: 71px;
        height: 54px;
        right: -67px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .how_working_item_2_5:before{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img5.png) 0 0 no-repeat;
        width: 97px;
        height: 54px;
        left: -97px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }*/

        .white_btn{
          width: 185px;
          padding: 9px;
          color: #fb6b00;
          display: block;
          font-size: 18px;
          font-weight: 300;
          text-align: center;
          text-decoration: none;
          border: 1px solid #fff;
          background-color: #FFF;
          text-transform: capitalize;
          font-family: 'robotolight';
          margin-left: auto;
          margin-right: auto;
        }
        .white_btn:hover{
          color: #fff;
          background-color: #fb6b00;
        }

/*=====================> Content 5 steps end ========================*/



/*=====================> Presentation ========================*/
    .presentation_block{
        width: 585px;
        float: right;
        margin-right: 95px;
    }
        .presentation_block .title2{
            line-height: 1.2;
        }
        .presentation_form{
            padding: 20px 25px;
            position: relative;
            -webkit-border-radius: 5px;
                    border-radius: 5px;
                -webkit-box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
                        box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
        }
            .download_presentation{
                position: absolute;
                top: 0;
                left: -80px;
                padding-top: 67px;
                color: #FB6B00;
                font-size: 12px;
                background: url(../images/catalog_dw.png) 50% 0 no-repeat;
            }

            .presentation_form .form_row{
                width: 260px;
                float: left;
                margin-right: 10px;
                margin-bottom: 0;
            }
            .presentation_form .header_content_mail{
                height: 40px;
            }
            .presentation_form .btn_orange{
                width: 260px;
                float: left;
                margin: 0;
                padding: 7px 15px;
            }

/*=====================> Presentation end ========================*/



/*=====================> Video how to do ========================*/
    .container_video{
        width: 750px;
        /*min-height: 480px;*/
        margin-left: auto;
        margin-right: auto;
    }

/*=====================> Video how to do end <========================*/



/*=====================> Question <========================*/
  .questions{
    position: relative;
    min-height: 200px;
  }  
    .questions:before{
      content: "";
      position: absolute;
      background: url(../images/ventilation_strip.png) 0 0 repeat-x;
      width: calc(50% - 488px);
      height: 14px;
      left: 0;
      z-index: 99;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .questions:after{
      content: "";
      position: absolute;
      background: url(../images/heating_strip.png) 0 0 repeat-x;
      width: calc(50% - 487px);
      height: 14px;
      right: 0;
      z-index: 99;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }  

    .questions_border{
      position: relative;
      width: 975px;
      margin: 0 auto;
      min-height: 200px;
      border-left: 1px solid #0095ff;
      border-right: 1px solid rgba(233,47,60,1);
    }
      .questions_border:before,
      .questions_border:after{
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        background: rgb(0,151,255); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(0,149,255,1) 0%, rgba(0,149,255,1) 33%, rgba(233,47,60,1) 67%, rgba(233,47,60,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(0,149,255,1) 0%,rgba(0,149,255,1) 33%,rgba(233,47,60,1) 67%,rgba(233,47,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(0,149,255,1) 0%,rgba(0,149,255,1) 33%,rgba(233,47,60,1) 67%,rgba(233,47,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0097ff', endColorstr='#e92f3c',GradientType=1 ); /* IE6-9 */
      }
      .questions_border:before{top: 0;}
      .questions_border:after{bottom: 0;}

      .questions_wrapp{
        z-index: 999;
        position: absolute;
        top:50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .question_content{
        padding: 30px 20px 25px;
        
      }

/*=====================> Question end <========================*/



/*=====================> Work <========================*/

  .work_wrap{
    margin-left: -20px;
    margin-right: -15px;
  }

    .work{
      width: 300px;
      height: 500px;
      margin-left: 45px;
      margin-right: 45px;
      float: left;
      font-size: 14px;
      position: relative;
      margin-bottom: 72px;

    }
      .work_box{
        height: 444px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.5); 
        position: relative;
        z-index: 5;
      }
        .work_box .img_box{
          width: 100%;
          height: 176px;
          position: relative;
        }
          .work_box .img_box img{
            width: 100%;
            height: 100%;
          }
        .img_text{
          position: absolute;
          color: #FFF;
          text-align: center;
          left: 0px;
          right: 0;
          top: 50%;
          font-size: 16px;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          letter-spacing: 2px;
          text-transform: uppercase;
          
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .work .title2{
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
          text-align: center;
        }
        .work .title2 img{margin-top: 4px;}

          .work_box_info{
            padding: 24px;
          }

            .work_text,
            .work_text li{
              font-family: 'robotolight';
             
            }
            .work_text li{
              text-indent: 10px;
              margin-bottom: 10px;
              position: relative;
            }

            .work_text li:before{
              content: "";
              width: 4px;
              height: 4px;
              -webkit-border-radius: 50%;
                      border-radius: 50%;
              background-color: #232440;
              position: absolute;
              left: 0px;
              top: 10px;
            }

          

      .work_link{
        width: 100%;
        text-align: center;
        padding: 10px 112px;
        display: block;
        font-size: 18px;
        font-family: 'robotolight';
      }
      [data-btn-skin="border_blue"]{
        color: #3c9eee; 
        border: 1px solid #1e8fea;
      }
      [data-btn-skin="border_blue"]:hover{
        color: #fff; 
        background-color: #1E8FEA;
      }
      [data-btn-skin="border_orange"]{
        color: #fb6b00; 
        border: 1px solid #fb6b00;
      }
      [data-btn-skin="border_orange"]:hover{
        color: #fff; 
        background-color: #FB6B00;
      }
      

  


  .prise_container{
    width: 986px;
    height: auto;
  }

  .prise_container_item{
    width: 326.5px;
    min-height: 750px;
    padding: 30px 40px 30px 50px;
    color: #FFF;
    position: relative;
  }

    .prise_container_item .prise_container_bottom{
      position: absolute; 
      bottom: 0;  
    }

  .tab_link{
    width: 100%;
    text-align: center;
    padding: 10px 45px;
    border: 1px solid #5e5e73;
    display: block;
    font-size: 18px;
    font-family: 'robotolight';
    color: #5e5e73; 
  }

  .prise_container_item dt{
     font-size: 12px;
    font-family: 'robotolight';
    color: #5e5e73;
    padding-bottom: 5px;
  }
  .prise_container_item dd{
    font-size: 14px;
    font-family: 'robotobold';
    color: #232440;
    padding-bottom: 20px;
  }

/*=====================> Work end <========================*/



/*=====================> Sale <========================*/
  .sale_block{
    margin-left: 70px;
    margin-right: 70px;
  }
    .sale_block div{
      width: 650px;
      float: left;
    }
      .simple_figure{
        float: left;
        margin-bottom: 20px;
      }
        .simple_figure .img_box{
          width: 190px;
          margin-right: 30px;
          text-align: center;
          display: inline-block;
        }
          .simple_figure .img_box img{
            vertical-align: middle;
            height: auto;
          }
        .simple_figure figcaption{
          float: left;
          width: calc(100% - 260px);
        }
          .simple_figure figcaption .title2{
            color: #6E6F81;
          }
          .simple_figure figcaption p{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
          }
    .sale_block .header_heat_form{
      
    }

/*=====================> Sale end <========================*/



/*=====================> Header heat ========================*/
  
    .header_heat_form{
      width: 310px;
      float: right;
      /*padding: 0 110px 0 44px;*/
      vertical-align: middle;
    }
      .header_heat_form .header_content_phone,
      .header_heat_form .form_popup_name{
        font-size: 14px;
        font-weight: 300;
        width: 260px;
        height: 38px;
        padding-left: 42px;
        border: none;
        box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
      }
      .header_heat_form .form_popup_btn{
        width: 260px ;
      }
      .header_heat_form button{
        width: 260px;
        outline: none;
        text-transform: none;
      }

    .header_heat_main_img{
      max-width: 750px;
      height: auto;
      text-align: right;
      vertical-align: middle;
    }  


/*=====================> Header heat end ========================*/



/*=====================> Content accordion ========================*/

  .accordion_block{}
    .accordion_block figure{
      float: left;
      width: 360px;
      margin-right: 30px;
    }
      .accordion_block figure figcaption{
        padding-left: 70px;
        padding-right: 30px;
      }
    .accordion_block .accordion{
      width: 653px;
      float: left;
    }
      .accordion_item{
        width: 100%;
        padding: 15px 80px 15px 32px;
        margin-bottom: 10px;
        border: 1px dashed #feceab;
        -webkit-border-radius: 10px;
                border-radius: 10px;
      }
        .accordion_item_link{
          font-size: 18px;
          color: #2c3035;
          font-weight: 300;
          position: relative;
          cursor: pointer;
        }
        .accordion_item_link.active{
          margin-bottom: 15px;
        }
          .accordion_item_link:after{
            content: "+";
            position: absolute;
            color: #FFF;
            line-height: 1;
            line-height: 1;
            font-size: 24px;
            text-align: center;
            right: -65px;
            /*top: 15px;*/
            width: 25px;
            height: 25px;
            background-color: #fb6b00;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
          }
          .accordion_item_link.active:after{
            content: "-";
            font-weight: 700;
          }
        .sub-menu{
          display: none;
          font-size: 14px;
          line-height: 1.6;
          margin-bottom: 15px;
        }

/*=====================> Content accordion end ========================*/



/*=====================> Full video ========================*/

  .header_video{
    position: relative;
    color: #FFF;
  }
  .header_video:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    right: 0;
    z-index: 25;
    background: url(../images/header_bg_patt.png) 0% 0 no-repeat;
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
  }
    .header_video .header_top,
    .header_video .container{
      position: relative;
      z-index: 20;
    }
    .video_bg_container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
      .video_bg_container .video_bg_player{
        position: absolute;
        left: 0;
        top: -260px;
      }
      .video_bg_container .video_bg_protect {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 17;
        background-color: rgba(0, 0, 0, 0.75);
      }

      .header_video .logo a{
        background: url(../images/logo3.png) 0 0 no-repeat;
      }
      .header_video .logo_text{
        color: #FFF;
        opacity: 0.54;
        font-family: 'robotolight';
      }
      .header_video .header_contact_phone{
        color: #FFF;
        margin: 2px 32px 10px 0;
      }
      .header_video .header_contact_link{
        color: #FFF;
        border-color: #FFF;
        -webkit-border-radius: 20px;
                border-radius: 20px;
      }
      .header_video .header_contact_link:hover{
        background-color: #fff;
        color: #232440;
      }
      .header_video .header_content .title_prime,
      .header_video .header_content .title_prime2{
        padding: 90px 0 38px;
        margin: 0 -10px 5px;
      }  
        .header_video .header_contact_phone{
           font-family: 'robotothin';
        }
        .header_video .header_contact_phone span{
          font-family: 'robotolight';
        }

        .header_content_info{
          margin-left: 102px;
          margin-right: 102px;
        }
          .header_content .header_content_info h2{
            display: block;
            float: left;
            width: 273px;
            text-align: center;
            padding: 10px 5px;
            background: none;
          }
          .header_content  .header_content_info h2:nth-child(2){
            width: 385px;
            border-left: 1px solid rgba(255, 255, 255, 0.24);
            border-right: 1px solid rgba(255, 255, 255, 0.24);
          }

      .header_video .header_content_form{
        width: 390px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
        .header_video .header_content_form input{
          width: 50%;
          float: left;
        }
        .header_video .header_content_form input:last-child{
          margin-left: -1px;
        }
        .header_video .header_content_form .blue_btn,
        .header_video .header_content_form .btn_orange{
          width: 100%;
          text-align: center;
        }

/*=====================> Full video end ========================*/



/*=====================> Models ========================*/

  .models_block{
    
  }
    .models_block_scroll{
      width: 190px;
      float: left;
      margin-right: 10px;
      margin-left: 40px;
      border-right: 1px solid #D9D9D9;
    }
      .model_link{
        height: 54px;
        line-height: 54px;
        display: block;
        width: 100%;
        cursor: pointer;
        text-align: center;
        margin: 5px 0;
        border-right: 5px solid transparent !important;
      }
      .model_link.resp-tab-active{
        border-color: #1E8FEB !important;
      }
        .model_link img{
          vertical-align: middle;
        }

    .models_wrap{
      float: left;
      width: calc(100% - 250px);
    }
      .model_box{
        width: 29%;
        float: left;
        cursor: pointer;
        text-align: center;
        margin: 0 0 60px 35px;
        padding-bottom: 20px;
        position: relative;
      }
        .model_box_img{
          /*text-align: center;*/
          margin-bottom: 15px;
        }
          .model_box_img img{
            width: 100%;
            height: auto;
          }
          .model_box figcaption p{
            font-size: 14px;
            margin-bottom: 18px;
          }
          .model_box figcaption .title7{
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #1E8FEB;
          }

        .model_more_link{
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          font-size: 18px;
          color: #FFF;
          display: none;
          z-index: 15;
          margin-top: -22px;
          border: 1px solid #1E8FEB;
          background-color: #1E8FEB;
          text-align: center;
          padding: 13px;
          font-family: 'robotolight', sans-serif;
        }
        .model_box:hover .model_more_link{
          display: block;
        }
        .model_more_link:hover{
          color: #1E8FEB;
          background-color: #fff;
        }
      .model_box:hover:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.54);
        -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.24);
                box-shadow: 0 0 24px rgba(0, 0, 0, 0.24);
      }

/*=====================> Models END ========================*/



/*=====================> Calculate ========================*/


  .culc_form2 .jq-selectbox{
    width: 380px;
    
    margin-top: -7px;
    box-shadow: 1px 1px 8px #dedede, -1px -1px 8px #dedede;
  }
    .culc_form2 .jq-selectbox__select{
      height: 36px;
      border: none;
    }
    .culc_form2 .jq-selectbox .placeholder,
    .culc_form2 .jq-selectbox__select-text{
      line-height: 35px;
    }
    .culc_form2 .jq-selectbox__trigger-arrow,
    .culc_form2 .jq-selectbox:hover .jq-selectbox__trigger-arrow {
      top: 14px;
      border-top: 10px solid #1e8feb;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
      .culc_form2 .jq-selectbox li{
        font-size: 14px;
        font-weight: 300;
        color: #8a8e98;
      }
      .culc_form2 .jq-selectbox li:hover{
        background-color: #1e8feb;
        color: #FFF;
      }


  .calculate_form{
    margin-top: 100px;
    margin-bottom: 60px;
    position: relative;
  }
    .calculate_form:after{
      content: "";
      position: absolute;
      width: 188px;
      height: 171px;
      right: 14px;
      top: -82px;
      background: url(../images/calculate_img.png) 0% 0% no-repeat;
    }
    .calculate_form + .header_content_form .header_content_btn{
      width: 360px;
      height: 46px;
      border: 1px solid #FB6B00;
      background-color: #fb6b00;
    }
      .calculate_form + .header_content_form .header_content_btn:hover{
        color: #fb6b00;
        background: #fff;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }

    .site_bar_padd{
      padding: 10px 21px 10px 0;
    }
  .form_row{
    margin-bottom: 20px;
  }
    .range_slider_wrapper{
      width: 400px;
      font-size: 14px;
      color: #a1a5ad;
      display: table;
      float: left;
      position: relative;
    }

      .counter_item{
        position: absolute;
        right: -99px;
        top: -8px;
      }
      .counter_item label{
        vertical-align: middle;
        font-weight: 300;
        margin-right: 3px;
        text-align: center;
      }
        .counter_item sup{
          font-size: 10px;
        }

        .range_slider_wrapper p{
          color: #8A8E98;
          font-size: 12px;
          margin-top: -7px;
          margin-bottom: 0;
        }
    
    .radio_site_bar{
      font-size: 12px;
      font-weight: 300;
      margin: 0 -8px;
    }
      .radio_site_bar_item{
        margin: 0 20px 8px 0;
        position: relative;
      }

      .culc_label{  
        width: 31.5%;
        color: #232440;
        font-size: 18px;
        font-weight: 300;
        text-align: right;
        float: left;
        margin-right: 25px;
        text-transform: uppercase;
        font-family: 'robotolight';
      }
        .culc_item_label{
          color: #8A8E98;
          font-size: 14px;
          font-weight: 300;
        }

        .calculate_form .jq-checkbox.checked + .culc_item_label{
          color: #FB6B00;
        }

    .reset_all{
      font-size: 14px;
      font-weight: 300;
      position: relative;
      color: #34c8e1;
      display: inline-block;
      padding-right: 15px;
    }  
      .reset_all:after{
        content: " ";
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: url(../images/reset_close.png) 0 0 no-repeat;
      }

      .counter_item input::-webkit-input-placeholder{
        text-align: center;
      }
      .counter_item input::-moz-placeholder{
        text-align: center;
      }
      .counter_item input:-moz-placeholder{
        text-align: center;
      }
      .counter_item input:-ms-input-placeholder{
        text-align: center;
      }

/*=====================> Calculate END ========================*/



/*=====================> Range slider ========================*/

  .range_slider_wrapper .slider-range{
    background-color: #d6dae4;
    height: 3px;
    margin-bottom: 10px;
  }
    .range_slider_wrapper .ui-slider-horizontal .ui.slider-range{
      background-color: #d6dae4;    
    }
    .range_slider_wrapper .slider-range .ui-slider-handle{
      background: #fb6b00;
      border-radius: 50%;
      top: -7px;
      width: 15px;
      height: 15px;
    } 
    /*.range_slider_wrapper .slider-range .ui-slider-handle:before{
      content: "";
      left: 0;
      right: 0;
      height: 3px;
      position: absolute;
      background-color: #d6dae4;
    }*/
    .range_slider_wrapper #amount1,
    .range_slider_wrapper #amount2,
    .range_slider_wrapper #amount3{
      color: #fb6b00;
      font-size: 14px;
      border: 0;
      width: 73px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      /*border: 1px solid #dfdfdf;*/
      box-shadow: 1px 1px 8px #dedede, -1px -1px 8px #dedede;
    }
    .range_slider_wrapper #amount2{
    }

/*=====================> Range slider END ========================*/



/*=====================> Range slider END ========================*/
  /*.fancybox-wrap{
    padding: 96px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: url(../images/sertificates_frame.png) 50% 0% no-repeat;
  }*/
/*=====================> Range slider END ========================*/



/*==============> POPUP <=============*/
    .arcticmodal-container{
      background-color: rgba(255, 255, 255, 0.95);
    }
    .arcticmodal_container_box{
      max-width: 1000px !important;
      background-color: rgba(255, 255, 255, 0);
      padding: 5px 10px; 
      z-index: 99999;
      position: relative;
    }
    .popup_box1{
      width: 607px;
    }
    .popup_box2{
      width: 885px;
    }
    .popup_box3{
      width: 890px;
    }
     .popup_arrow{
       position: absolute;
       top: 48px;
     }
      .popup_title{
        font-size: 14px;
        color: #2c3035;
        font-weight: 300;
      }
      .title_popup2{
        font-size: 16px;
        font-weight: 700;
        line-height: 1.7;
        text-transform: uppercase;
      }
      .arcticmodal_container_box .download_link:first-child{
        margin-right: 115px;
      }
      .arcticmodal_container_box .title2 + .popup_title{
        line-height: 1.7;
      }

    .popup_box1 .header_content_form input,
    .popup_box1 .header_content_form button{
      margin-left: -1px;
      -webkit-box-shadow: none;
              box-shadow: none;
    }


    .arcticmodal_container_box.popup_pad{
      padding: 3px 50px;
    }

    .form_popup{
      width: 294px;
    }  
      .form_row input{outline: none;}
      .form_popup_name,
      .form_popup_email,
      .form_popup_textarea{
        font-size: 14px;
        font-weight: 300;
        width: 100%;
        height: 38px;
        padding-left: 42px;
        border: none;
        box-shadow: 2px 2px 3px #dfdfdf, -2px -2px 3px #dfdfdf;
      }
      .form_popup_name{
        background: #fff url(../images/human_icon.png) 12px 50% no-repeat;
      }
      .form_popup_email{
        background: #fff url(../images/email_icon.png) 12px 50% no-repeat;
      }
      .form_popup_textarea{
        height: 200px;
        padding: 10px 0 0 42px;
        resize: none;
      }
      .form_popup_textarea{
        background: #fff url(../images/commnt_icon.png) 12px 12px no-repeat;
      }
      .form_popup_btn,
      .form_popup_btn2{
        font-family: 'robotolight';
        width: 100%;
        height: 44px;
        color: #fff;
        outline: none;
        cursor: pointer;
        font-size: 18px;
        /*line-height: 34px;*/
        border-radius: 0;
        font-weight: normal;
        display: inline-block;
        padding: 10px 5px;
        margin: 6px 0 7px;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
      }
      .form_popup_btn{
        background: #fb6b00;
        border: 1px solid #fb6b00;
      }
      .form_popup_btn2{
        background: #1e8feb;
        border: 1px solid #1e8feb;
      }
        .form_popup_btn:hover,
        .form_popup_btn2:hover{
          background: #fff;
          -webkit-transition: all 0.1s ease;
          -moz-transition: all 0.1s ease;
          -o-transition: all 0.1s ease;
          transition: all 0.1s ease;
        }
        .form_popup_btn:hover{
          color: #fb6b00;
        }
        .form_popup_btn2:hover{
          color: #1e8feb;
        }


        .popup_figure{}
          .popup_figure .img_box{
            width: 361px;
            margin-right: 30px;
          }
          .popup_figure figcaption{
            width: calc(100% - 400px);
          }
            .popup_figure figcaption form{
              width: 262px;
              margin: 60px auto 45px;
            }

        .popup_figure2{}
          .popup_figure2 .img_box{
            margin-right: 30px;
          }
          .popup_figure2 figcaption{
            width: calc(100% - 310px);
          }

          .arcticmodal_container_box .header_content_form .form_popup_btn2,
          .arcticmodal_container_box .header_content_form .form_popup_btn{
            width: 183px;
            margin: 0 0 0 -1px;
          }

    .characteristic_figure{
      width: 100%;
      display: inline-block;
      margin-bottom: 45px;
    }
        .characteristic_figure_img{
          float: left;
          width: 280px;
          margin-right: 30px;
          margin-left: 20px;
        }
          .characteristic_figure_img img{
            width: 100%;
            height: auto;
          }
        .characteristic_figcaption{
          float: left;
          width: calc(100% - 340px);
        }
          .characteristic_list{
            margin-bottom: 20px;
          }
            .characteristic_list li{
              color: #2C3035;
              font-size: 14px;
              position: relative;
              margin-bottom: 12px;
            }
            .characteristic_list li:before{
              content: "";
              height: 1px;
              left: 0;
              right: 0;
              bottom: 4px;
              z-index: 1;
              position: absolute;
              border-bottom: 1px dotted #2c3035;
            }
              .characteristic_list li span{
                position: relative;
                z-index: 5;
                background-color: #FFF;
              }
              .characteristic_list li span:first-child{
                font-family: 'robotomedium';
              }
              .characteristic_list li span:last-child{
                float: right;
                font-family: 'robotolight';
              }
          .price_box{
            display: block;
            float: left;
          }
          .price_box:first-child{
            width: 50%;
          }
          .price_box:last-child{
            width: 49%;
          }
            .price_box:first-child img{
              margin-top: 12px;
              margin-left: 10px;
            }
            .price_box:last-child img{
              margin-top: 15px;
              margin-left: 10px;
            }

      .price_form{
        box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
      }
        .price_form .form_row{
          width: 33.4%;
          float: left;
          margin-bottom: 0;
        }
        .price_form .form_row:not(:first-child){
          margin-left: -1px;
        }
          .price_form .blue_btn,
          .price_form .btn_orange{
            width: 100%;
            margin-top: 0;
            height: 54px;
            margin-bottom: 0;
            text-transform: none;
            -webkit-border-radius: 0;
                    border-radius: 0;
          }
          .price_form input{
            height: 54px;
          }
        



/*=====================> Paragraphs ========================*/

    p {margin-bottom:18px}
    .mb1{ margin-bottom:1px;}
    .mb2{ margin-bottom:2px;}
    .mb3{ margin-bottom:3px;}
    .mb4{ margin-bottom:4px;}
    .mb5{ margin-bottom:5px;}
    .mb6{ margin-bottom:6px;}
    .mb7{ margin-bottom:7px;}
    .mb8{ margin-bottom:8px;}
    .mb9{ margin-bottom:9px;}
    .mb10{ margin-bottom:10px;}
    .mb11{ margin-bottom:11px;}
    .mb12{ margin-bottom:12px;}
    .mb13{ margin-bottom:13px;}
    .mb14{ margin-bottom:14px;}
    .mb15{ margin-bottom:15px;}
    .mb16{ margin-bottom:16px;}
    .mb17{ margin-bottom:17px;}
    .mb18{ margin-bottom:18px;}
    .mb19{ margin-bottom:19px;}
    .mb20{ margin-bottom:20px;}
    .mb21{ margin-bottom:21px;}
    .mb22{ margin-bottom:22px;}
    .mb23{ margin-bottom:23px;}
    .mb24{ margin-bottom:24px;}
    .mb25{ margin-bottom:25px;}
    .mb26{ margin-bottom:26px;}
    .mb27{ margin-bottom:27px;}
    .mb28{ margin-bottom:28px;}
    .mb29{ margin-bottom:29px;}
    .mb30{ margin-bottom:30px;}
    .mb31{ margin-bottom:31px;}
    .mb32{ margin-bottom:32px;}
    .mb33{ margin-bottom:33px;}
    .mb34{ margin-bottom:34px;}
    .mb35{ margin-bottom:35px;}
    .mb36{ margin-bottom:36px;}
    .mb37{ margin-bottom:37px;}
    .mb38{ margin-bottom:38px;}
    .mb39{ margin-bottom:39px;}
    .mb40{ margin-bottom:40px;}
    .mb41{ margin-bottom:41px;}
    .mb42{ margin-bottom:42px;}
    .mb43{ margin-bottom:43px;}
    .mb44{ margin-bottom:44px;}
    .mb45{ margin-bottom:45px;}
    .mb46{ margin-bottom:46px;}
    .mb47{ margin-bottom:47px;}
    .mb48{ margin-bottom:48px;}
    .mb49{ margin-bottom:49px;}
    .mb50{ margin-bottom:50px;}
    .mb51{ margin-bottom:51px;}
    .mb52{ margin-bottom:52px;}
    .mb53{ margin-bottom:53px;}
    .mb54{ margin-bottom:54px;}
    .mb55{ margin-bottom:55px;}
    .mb58{ margin-bottom:58px;}
    .mb60{ margin-bottom:60px;}
    .mb62{ margin-bottom:62px;}
    .mb65{ margin-bottom:65px;}
    .mb70{ margin-bottom: 70px;}
    .mb75{ margin-bottom: 75px;}
    .mb90{ margin-bottom: 90px;}
    .mb80{ margin-bottom: 80px;}
    .mb100{ margin-bottom: 100px;}
    .mb110{ margin-bottom: 110px;}
    .mb125{ margin-bottom: 125px;}
    .mb130{ margin-bottom: 130px;}
    .mb138{ margin-bottom: 138px;}
    .mb140{ margin-bottom: 140px;}
    .mb145{ margin-bottom: 145px;}
    .mb150{ margin-bottom: 150px;}
    .mb166{ margin-bottom: 166px;}
    .mb180{ margin-bottom: 180px;}


    .mr30{margin-right: 30px;}
    .mr65{margin-right: 65px;}



/*=====================> Lists ========================*/
    
    .list1{
        float: left;
        display: inline-block;
    }
        .list1_item{
            color: #363638;
            font-size: 24px;
            position: relative;
            padding-left: 20px;
            margin-bottom: 12px;
            font-weight: 400;
            font-family: 'Roboto Slab', serif;
        }
            .list1_item:before{
                content: "";
                width: 6px;
                height: 6px;
                top: 13px;
                left: 0;
                position: absolute;
                background-color: #fb6b00;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
            }


    .list2{}
    .list2 li{
      background:url(../images/marker1.png) 0 7px no-repeat;
      padding-left:20px;
    }
    .list2 a{}

    .list3{}
    .list3 li{
      background:url(../images/marker1.png) 0 7px no-repeat;
      padding-left:20px;
    }
    .list3 a{}


/*================================>> hovers <<========================================*/
    a{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    a:hover{
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }



/*================================>> Contact Form <<========================================*/
    #contact-form {
      padding:0px 0 0 0;
      position: relative;
    }
    #contact-form .success
    {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      left:0;
      z-index: 99;
      background: #fff;
      border: 1px solid #000;
      text-align: center;
      padding: 20px 0;
    }
    .txt_field{
      margin:0;
      font-size:12px;
      border:1px solid #e7e7e7;
      color:#969696;
      padding:7px 10px;
      outline:none;
      position:relative;
      font-family:Arial, Helvetica, sans-serif;
      background:#fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .msg_field{
      overflow:auto;
      width:433px;
      height:172px;
      resize:none;
      float:left;
      margin: 0 0 0 0;
    }

    #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
    #contact-form .error, #contact-form .empty {
      text-align:left;
      color:red;
      font-size:11px;
      position: absolute;
      right: 10px;
      top: 5px;
    }
    #contact-form .buttons2 {
      overflow:hidden;
      text-align:right;
      position:relative;
      clear:both;
      padding-top:25px;
    }
    #contact-form .buttons2 a {
    	cursor:pointer;
    	margin-top:0;
    	text-align:center;
    }
    #contact-form span{
      display:block;
      margin: 0px 0 0 5px;
     }


     .header_content_form3{
      width: 360px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
    }
      .header_content_form3 input{
        width: 180px;
      }
      .header_content_form3 input:last-child{
        border-right: none;
      }

    

/*================================>> Footer <<========================================*/
    footer {

    }

    .footer_contact{
      width: 372px;
      padding-bottom: 20px;
    }
      .footer_contact_info{
        background: url(../images/footer_item_bg.png) 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        padding: 25px 25px 0 37px;
        min-height: 178px;
      }
        .footer_contact_info_text,
        .footer_contact_info_link{
          font-size: 14px;
          line-height: 25px;
          color: #ccf1f8;
        }
          .footer_contact_info_link:hover{
            color: #fff;
            text-decoration: underline;
          }
          .title_footer{
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
          }

      .footer_copyright{
        font-size: 12px;
        color: #71717e;
        line-height: 18px;
        margin-left: 15px;
      }    
        .footer_copyright img{
          margin-right: 10px;
        }

      .footer_maps{
        position: relative;
        width: 600px;
        height: 306px;
        margin-left: 30px;
      } 

        .footer_maps_item{
          position: absolute;
          width: 186%;
          height: 306px;
          /*border: 30px solid transparent;
          border-image: url("../images/map_border.png");
          border-image-repeat: round;*/
        }

          .footer_maps_item:before{
            content: "";
            z-index: 99;
            position: absolute;
            background: url(../images/map_border_before.png) 0 0 no-repeat;
            top: 0;
            left: 0;
            width: 33px;
            height: 100%;
          }

          .footer_maps_item:after{
            content: "";
            z-index: 99;
            position: absolute;
            background: url(../images/map_border_after.png) 0 0 no-repeat;
            width: 100%;
            top: 0;
            height: 30px;
          }
          .map_wrapper{
              overflow:hidden;
              display:inline-block;
              margin-bottom:26px;
            }





/*=================================>>  FONTS  <<============================*/
    /* Generated by Font Squirrel (https://www.fontsquirrel.com) on September 28, 2016 */


    @font-face {
        font-family: 'robotobold_condensed';
        src: url('../font/roboto-boldcondensed-webfont.eot');
        src: url('../font/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-boldcondensed-webfont.woff2') format('woff2'),
             url('../font/roboto-boldcondensed-webfont.woff') format('woff'),
             url('../font/roboto-boldcondensed-webfont.ttf') format('truetype'),
             url('../font/roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotobold_condensed_italic';
        src: url('../font/roboto-boldcondenseditalic-webfont.eot');
        src: url('../font/roboto-boldcondenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-boldcondenseditalic-webfont.woff2') format('woff2'),
             url('../font/roboto-boldcondenseditalic-webfont.woff') format('woff'),
             url('../font/roboto-boldcondenseditalic-webfont.ttf') format('truetype'),
             url('../font/roboto-boldcondenseditalic-webfont.svg#robotobold_condensed_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotobold_italic';
        src: url('../font/roboto-bolditalic-webfont.eot');
        src: url('../font/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-bolditalic-webfont.woff2') format('woff2'),
             url('../font/roboto-bolditalic-webfont.woff') format('woff'),
             url('../font/roboto-bolditalic-webfont.ttf') format('truetype'),
             url('../font/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotocondensed';
        src: url('../font/roboto-condensed-webfont.eot');
        src: url('../font/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-condensed-webfont.woff2') format('woff2'),
             url('../font/roboto-condensed-webfont.woff') format('woff'),
             url('../font/roboto-condensed-webfont.ttf') format('truetype'),
             url('../font/roboto-condensed-webfont.svg#robotocondensed') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'roboto_condensedbold';
        src: url('../font/robotocondensed-bold-webfont.eot');
        src: url('../font/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/robotocondensed-bold-webfont.woff2') format('woff2'),
             url('../font/robotocondensed-bold-webfont.woff') format('woff'),
             url('../font/robotocondensed-bold-webfont.ttf') format('truetype'),
             url('../font/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'roboto_condensedbold_italic';
        src: url('../font/robotocondensed-bolditalic-webfont.eot');
        src: url('../font/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
             url('../font/robotocondensed-bolditalic-webfont.woff') format('woff'),
             url('../font/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
             url('../font/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'roboto_condenseditalic';
        src: url('../font/robotocondensed-italic-webfont.eot');
        src: url('../font/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/robotocondensed-italic-webfont.woff2') format('woff2'),
             url('../font/robotocondensed-italic-webfont.woff') format('woff'),
             url('../font/robotocondensed-italic-webfont.ttf') format('truetype'),
             url('../font/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotoblack';
        src: url('../font/roboto-black-webfont.eot');
        src: url('../font/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-black-webfont.woff2') format('woff2'),
             url('../font/roboto-black-webfont.woff') format('woff'),
             url('../font/roboto-black-webfont.ttf') format('truetype'),
             url('../font/roboto-black-webfont.svg#robotoblack') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotoblack_italic';
        src: url('../font/roboto-blackitalic-webfont.eot');
        src: url('../font/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-blackitalic-webfont.woff2') format('woff2'),
             url('../font/roboto-blackitalic-webfont.woff') format('woff'),
             url('../font/roboto-blackitalic-webfont.ttf') format('truetype'),
             url('../font/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotobold';
        src: url('../font/roboto-bold-webfont.eot');
        src: url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-bold-webfont.woff2') format('woff2'),
             url('../font/roboto-bold-webfont.woff') format('woff'),
             url('../font/roboto-bold-webfont.ttf') format('truetype'),
             url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotocondensed_italic';
        src: url('../font/roboto-condenseditalic-webfont.eot');
        src: url('../font/roboto-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-condenseditalic-webfont.woff2') format('woff2'),
             url('../font/roboto-condenseditalic-webfont.woff') format('woff'),
             url('../font/roboto-condenseditalic-webfont.ttf') format('truetype'),
             url('../font/roboto-condenseditalic-webfont.svg#robotocondensed_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'roboto_condensedlight';
        src: url('../font/robotocondensed-light-webfont.eot');
        src: url('../font/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/robotocondensed-light-webfont.woff2') format('woff2'),
             url('../font/robotocondensed-light-webfont.woff') format('woff'),
             url('../font/robotocondensed-light-webfont.ttf') format('truetype'),
             url('../font/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'roboto_condensedlight_italic';
        src: url('../font/robotocondensed-lightitalic-webfont.eot');
        src: url('../font/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
             url('../font/robotocondensed-lightitalic-webfont.woff') format('woff'),
             url('../font/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
             url('../font/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'roboto_condensedregular';
        src: url('../font/robotocondensed-regular-webfont.eot');
        src: url('../font/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/robotocondensed-regular-webfont.woff2') format('woff2'),
             url('../font/robotocondensed-regular-webfont.woff') format('woff'),
             url('../font/robotocondensed-regular-webfont.ttf') format('truetype'),
             url('../font/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }




    @font-face {
        font-family: 'robotoitalic';
        src: url('../font/roboto-italic-webfont.eot');
        src: url('../font/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-italic-webfont.woff2') format('woff2'),
             url('../font/roboto-italic-webfont.woff') format('woff'),
             url('../font/roboto-italic-webfont.ttf') format('truetype'),
             url('../font/roboto-italic-webfont.svg#robotoitalic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotolight';
        src: url('../font/roboto-light-webfont.eot');
        src: url('../font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-light-webfont.woff2') format('woff2'),
             url('../font/roboto-light-webfont.woff') format('woff'),
             url('../font/roboto-light-webfont.ttf') format('truetype'),
             url('../font/roboto-light-webfont.svg#robotolight') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotolight_italic';
        src: url('../font/roboto-lightitalic-webfont.eot');
        src: url('../font/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-lightitalic-webfont.woff2') format('woff2'),
             url('../font/roboto-lightitalic-webfont.woff') format('woff'),
             url('../font/roboto-lightitalic-webfont.ttf') format('truetype'),
             url('../font/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotomedium';
        src: url('../font/roboto-medium-webfont.eot');
        src: url('../font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-medium-webfont.woff2') format('woff2'),
             url('../font/roboto-medium-webfont.woff') format('woff'),
             url('../font/roboto-medium-webfont.ttf') format('truetype'),
             url('../font/roboto-medium-webfont.svg#robotomedium') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotomedium_italic';
        src: url('../font/roboto-mediumitalic-webfont.eot');
        src: url('../font/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-mediumitalic-webfont.woff2') format('woff2'),
             url('../font/roboto-mediumitalic-webfont.woff') format('woff'),
             url('../font/roboto-mediumitalic-webfont.ttf') format('truetype'),
             url('../font/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'robotoregular';
        src: url('../font/roboto-regular-webfont.eot');
        src: url('../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-regular-webfont.woff2') format('woff2'),
             url('../font/roboto-regular-webfont.woff') format('woff'),
             url('../font/roboto-regular-webfont.ttf') format('truetype'),
             url('../font/roboto-regular-webfont.svg#robotoregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'robotothin';
        src: url('../font/roboto-thin-webfont.eot');
        src: url('../font/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-thin-webfont.woff2') format('woff2'),
             url('../font/roboto-thin-webfont.woff') format('woff'),
             url('../font/roboto-thin-webfont.ttf') format('truetype'),
             url('../font/roboto-thin-webfont.svg#robotothin') format('svg');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'robotothin_italic';
        src: url('../font/roboto-thinitalic-webfont.eot');
        src: url('../font/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/roboto-thinitalic-webfont.woff2') format('woff2'),
             url('../font/roboto-thinitalic-webfont.woff') format('woff'),
             url('../font/roboto-thinitalic-webfont.ttf') format('truetype'),
             url('../font/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }
/*=================================>>  FONTS END  <<============================*/



/*============================= Easy responsive tabs ============================*/


    .resp-tabs-list li {
        background-color: transparent !important;
    }


    h2.resp-accordion {
        display: none;
    }

    .resp-tab-content {
        display: none;
    }

    .resp-content-active, .resp-accordion-active {
        display: block;
    }

    .resp-easy-accordion  h2.resp-accordion {
            display: block;
    }

    .resp-tab-content-active {
        display: block;
    }


    @media only screen and (max-width: 768px) {
        ul.resp-tabs-list {
            display: none;
        }

        h2.resp-accordion {
            display: block;
        }

        
        .resp-accordion-closed {
            display:none !important;
        }
        
    }


/*============================ Arctic modal =============================*/
    .arcticmodal-overlay,
    .arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 9999; }
    .arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
    *:first-child+html .arcticmodal-container { height: 100% }
    .arcticmodal-container_i { height: 100%; margin: 0 auto; }
    .arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
    .arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
    .arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
    /* 
     *  Core Owl Carousel CSS File
     *  v1.3.2
     */

    /* clearfix */
    .owl-carousel .owl-wrapper:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    /* display none until init */
    .owl-carousel{
      display: none;
      position: relative;
      width: 100%;
      -ms-touch-action: pan-y;
    }
    .owl-carousel .owl-wrapper{
      display: none;
      position: relative;
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    .owl-carousel .owl-wrapper-outer{
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    .owl-carousel .owl-wrapper-outer.autoHeight{
      -webkit-transition: height 500ms ease-in-out;
      -moz-transition: height 500ms ease-in-out;
      -ms-transition: height 500ms ease-in-out;
      -o-transition: height 500ms ease-in-out;
      transition: height 500ms ease-in-out;
    }
      
    .owl-carousel .owl-item{
      float: left;
    }
    .owl-controls .owl-page,
    .owl-controls .owl-buttons div{
      cursor: pointer;
    }
    .owl-controls {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /* mouse grab icon */
    .grabbing { 
        cursor:url(grabbing.png) 8 8, move;
    }

    /* fix */
    .owl-carousel  .owl-wrapper,
    .owl-carousel  .owl-item{
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility:    hidden;
      -ms-backface-visibility:     hidden;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
    }
/* ========================== OWL CAROUSEL END =============================*/


/*-------  PLACEHOLDER  -------*/
    input::-webkit-input-placeholder{
      transition: all 0.5s ease;
     font-family: 'robotolight';
     font-size: 14px;
      font-weight: 300;
      color: #9a9da6;
      opacity: 1;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    input::-moz-placeholder{
      transition: all 0.5s ease;
     font-family: 'robotolight';
     font-size: 14px;
      font-weight: 300;
      color: #9a9da6;
      opacity: 1;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    input:-moz-placeholder{
      transition: all 0.5s ease;
     font-family: 'robotolight';
     font-size: 14px;
      font-weight: 300;
      color: #9a9da6;
      opacity: 1;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    input:-ms-input-placeholder{
      transition: all 0.5s ease;
     font-family: 'robotolight';
     font-size: 14px;
      font-weight: 300;
      color: #9a9da6;
      opacity: 1;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    input:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: all 0.5s ease;
    }
    input:focus::-moz-placeholder{
      opacity: 0;
      transition: all 0.5s ease;
    }
    input:focus:-moz-placeholder{
      opacity: 0;
      transition: all 0.5s ease;
    }
    input:focus:-ms-input-placeholder{
      opacity: 0;
      transition: all 0.5s ease;
    }
    /*===  input end    ===*/

    /*===  textarea start  ===*/
    textarea::-webkit-input-placeholder{
     font-family: 'robotolight';   
      transition: all 0.5s ease;
      color: #a9acb3;
      opacity: 1;
      font-size: 14px;
    }
    textarea::-moz-placeholder{
     font-family: 'robotolight';   
      transition: all 0.5s ease;
      color: #a9acb3;
      opacity: 1;
      font-size: 14px;
    }
    textarea:-moz-placeholder{
     font-family: 'robotolight';   
      transition: all 0.5s ease;
      color: #a9acb3;
      opacity: 1;
      font-size: 14px;
    }
    textarea:-ms-input-placeholder{
     font-family: 'robotolight';   
      transition: all 0.5s ease;
      color: #a9acb3;
      opacity: 1;
      font-size: 14px;
    }

    textarea:focus::-webkit-input-placeholder{
      transition: all 0.5s ease;
      opacity: 0;
    }
    textarea:focus::-moz-placeholder{
      transition: all 0.5s ease;
      opacity: 0;
    }
    textarea:focus:-moz-placeholder{
      transition: all 0.5s ease;
      opacity: 0;
    }
    textarea:focus:-ms-input-placeholder{
      transition: all 0.5s ease;
      opacity: 0;
    }
    /*===  textarea end    ===*/
/*-------  PLACEHOLDER END  -------*/


/*-------  Responsive  -------*/
    @media only screen and (max-width: 1660px) {
      .footer_maps_item{
        width: 100%;
      }
      .footer_maps{
        width: calc(100% - 405px);
      }

    }


/*-------  Responsive END  -------*/